<div class="top-spacer" fxLayout="column" fxLayoutAlign="space-between center">
    <mat-card class="bigger-card" fxLayout="column" fxLayoutAlign="space-between center"> 
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card-header>
                <mat-card-title><h1>Login</h1></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput formControlName="username" type="text" name="username" placeholder="Username"
                                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required>
                                <mat-error *ngIf="submitted && f.username.errors">Username is required</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input matInput formControlName="password" type="password" name="password" placeholder="Password"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                                <mat-error *ngIf="submitted && f.password.errors">Password is required</mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" type="submit">Login</button>
                <button mat-raised-button routerLink="/register">Register</button>
            </mat-card-actions>
        </form>
    </mat-card>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#ff4081" type="ball-scale-ripple-multiple"></ngx-spinner>
</div>