<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        Basado en <a href="http://jasonwatmore.com/post/2018/05/23/angular-6-jwt-authentication-example-tutorial" target="_top">Angular 6 - JWT Authentication Example & Tutorial</a>
    </p>
    <p>
        TACS - Grupo 1
    </p>
</div>