<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary" class="example-toolbar">

        <button mat-icon-button (click)="snav.toggle()" *ngIf="authenticationService.isLoggedIn()">
            <mat-icon>menu</mat-icon>
        </button>

        <h1 class="example-app-name">Event App</h1>

        <span class="example-spacer"></span>

        <button mat-button [matMenuTriggerFor]="menu" *ngIf="authenticationService.isLoggedIn()"><span>{{ authenticationService.getUsername() }}</span>
            <mat-icon class="example-icon">account_box</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="authenticationService.isUser()" routerLink="/account">Account</button>
            <button mat-menu-item routerLink="/login">Logout</button>
        </mat-menu>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav opened="true" *ngIf="authenticationService.isLoggedIn()" class="sidenav-menu" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <!-- User -->
                <div *ngIf="authenticationService.isUser()">                
                    <a mat-list-item routerLink="/search" routerLinkActive="active">Search Events</a>
                    <a mat-list-item routerLink="/lists" routerLinkActive="active">My Lists</a>
                    <a mat-list-item routerLink="/alarms" routerLinkActive="active">My Alarms</a>
                    <a mat-list-item routerLink="/account" routerLinkActive="active">Account</a>
                </div>

                <!-- Admin -->
                <div *ngIf="authenticationService.isAdmin()">                    
                    <a mat-list-item routerLink="/users" routerLinkActive="active">Users</a>
                    <a mat-list-item routerLink="/stats" routerLinkActive="active">Stats</a>                    
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="content-container">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
