<mat-toolbar>
    <span>Lists</span>
</mat-toolbar>

<mat-card class="lists-card" fxLayout="column" fxLayoutAlign="center">

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table #listTable [dataSource]="dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Star Column -->
        <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <button mat-button [matMenuTriggerFor]="menu" matTooltip="Actions" aria-label="Actions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openEditDialog(i, element)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="openDeleteDialog(i, element)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-toolbar>
        <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
        <span class="example-spacer"></span>
        <button mat-fab (click)="openNewDialog()" color="primary" matTooltip="Add new list" aria-label="Add new list">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>

</mat-card>