<mat-toolbar>
    <span>Search events</span>
</mat-toolbar>

<mat-card class="search-result-card">

    <form class="search-form" [formGroup]="searchForm">

        <mat-form-field class="search-keyword-field" (change)="onChange()">
            <input matInput class="search-keyword-input" type="search" formControlName="keywordControl" placeholder="Search on Eventbrite">

            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

    </form>

    <mat-card-header>

        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#ff4081" type="ball-scale-ripple-multiple"></ngx-spinner>

    </mat-card-header>

    <ngx-masonry class="masonry-container" [useImagesLoaded]="true" [options]='{ "fitWidth": true }'>
        <ngxMasonryItem class="masonry-item" *ngFor="let event of events">

            <mat-card class="event-card">

                <mat-card-header>
                    <mat-card-title class="event-card-title">
                        <b>{{event.name}}</b>
                    </mat-card-title>
                </mat-card-header>

                <img mat-card-image class="event-logo-image" *ngIf="event.logo" [src]="event.logo" [alt]="event.name" height="50%">

                <mat-card-content class="event-card-content">
                    <p>{{event.description}}</p>
                </mat-card-content>

                <mat-card-actions>
                    <a mat-stroked-button class="event-action-button" color="primary" [href]="event.url" target="_blank">
                        Check event
                    </a>

                    <button mat-stroked-button class="event-action-button" color="accent" (click)="openAddEventDialog(event)">Add to my list</button>
                </mat-card-actions>

            </mat-card>
            
        </ngxMasonryItem>
    </ngx-masonry>

</mat-card>
