<mat-toolbar>
    <span>Search events</span>
</mat-toolbar>

<mat-card class="search-result-card">

    <form class="search-form" [formGroup]="searchForm">

        <mat-form-field class="search-keyword-field" (change)="onChange()">
            <input matInput class="search-keyword-input" formControlName="keywordControl" placeholder="keyword">

            <!-- search icon -->
            <span matSuffix>
                <i class="material-icons">search</i>
            </span>
        </mat-form-field>

    </form>

    <mat-card-header>

        <mat-spinner class="search-result-spinner" *ngIf="loading"></mat-spinner>

    </mat-card-header>

    <mat-grid-list class="search-result-grid-list" [cols]="gridCols" (window:resize)="setGridCols()">

        <mat-grid-tile class="search-result-tile" *ngFor="let event of events">
                <mat-card class="event-card">

                    <mat-card-header>
                        <mat-card-title class="event-card-title">{{event.name}}</mat-card-title>
                        <mat-card-subtitle class="event-card-subtitle">{{event.description}}</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content> </mat-card-content>

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</mat-card>

<p>
    <a [routerLink]="['/login']">Logout</a>
</p>
