.search-form {
    display: flex;
    flex-direction: column;
}

.search-form > * {
    width: 80%;
    margin: 0 auto;
}

.search-result-card {
    min-height: 50%;
}

.search-result-spinner {
    margin: 0 auto;
}

.event-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
}
